* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* common */

.banner{
   text-decoration: none;
   color: white;
   background: blue;
   padding: 10px;
   display: inline;
}

.w-70{
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* fine common */


header nav{
    height: 80px;
}

header nav div{
    height: 100%;
    line-height: 80px;
    text-align: center;
}

header .nav-left{
    width: 35%;
    float: left;
}

header .nav-right{
    width: 35%;
    float: right;
}

header .nav-left #logo{
    display: inline-block;
}

header .nav-left #logo img{
    vertical-align: middle;
}

header nav div ul {
    list-style: none;
    height: 100%;
 }
 
 header nav div ul li {
    display: inline-block;
    text-decoration: none;
    height: 100%;
 }
 
 header nav div ul li a {
     display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    color: black;
 }

 main .first-section{
     background-color: #B4D0E7;
     padding: 20px 50px;
 }

 main .first-section h1{
     padding: 20px 0;
     font-size: 4.7em;
     font-weight: 900;
 }

main .first-section .text-left{
    width: 40%;
}

 /* debug */

.debug main{
    background-color: gray;
}
.debug main .first-section .text-left{
    background-color: blue;
}

/* fine debug */
